* {
	box-sizing: border-box; 
}
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, black, transparent), url("1.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.wrapper {
	width: 400px;
	height: auto;
	color: #fff;
	padding: 50px 30px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	background: #ffffff1a;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	border-radius: 25px;
}
.wrapper h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
}
.wrapper p {
	margin: 0;
	padding: 0;
	font-weight: 300;
	text-align: center;
}
.form-area {
	display: grid;
	place-items: center;
	height: 100vh;
}
.box {
	position: relative;
}
.box input {
	padding-right: 30px;
}
.box i {
	position: absolute;
	top: 34%;
	transform: translateY(-50%);
	right: 30px;
	color: #fff;
}
.wrapper input, button {
	border: none;
	border: 1px solid #bababa;
	background: transparent;
	outline: none;
	height: 50px;
	color: #ffffff;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 50px;
}
.wrapper .options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.wrapper .options label {
	color: #fff;
	font-size: 18px;
	line-height: 3.5;
}
.options input[type="checkbox"] {
	width: 15px;
	height: auto;
}
.wrapper a {
	text-decoration: none;
	color: #fff;
}
.wrapper button {
	background: #fff;
	color: #262626;
}